.btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 40px;
  margin: 0 auto;
  background: url(/assets/common/images/icon_blank_white.png) right 10px center/20px no-repeat;
  background-color: #81c07a;
  border: 2px solid #fff;
  border-radius: 10px;
  -webkit-transition: background-color .5s ease;
  transition: background-color .5s ease; }

.btn .main {
  color: #fff; }

.btn:hover {
  background-color: #fff;
  border: 2px solid #81c07a;
  background: url(/assets/common/images/icon_blank_green.png) right 10px center/20px no-repeat;
  -webkit-transition: background-color .5s ease;
  transition: background-color .5s ease; }

.btn:hover .main {
  color: #81c07a; }

.btnList {
  margin-bottom: 20px; }

.btnList .btn:not(:last-child) {
  margin-bottom: 20px; }

.flex-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .flex-wrap.sp-col-2 {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .flex-wrap.sp-col-2 .flex-wrap-item:not(:first-child) {
      margin-left: 2%; }

.flex-wrap.sp-col-2 .flex-wrap-item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 49%;
      -ms-flex: 0 0 49%;
          flex: 0 0 49%; }
  .flex-wrap.sp-col-2 .flex-wrap-item:nth-child(2n+1) {
    margin-left: 0; }
  .flex-wrap.sp-col-2 .flex-wrap-item:nth-child(n+3) {
    margin-top: 10px; }

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.flex .flex-item {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.flex .flex-item:not(:first-child) {
  margin-top: 5%; }

footer {
  width: 100%;
  border-top: 1px solid #ccc; }

.copyright {
  text-align: center;
  font-size: 14px;
  font-weight: 300; }

header {
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  height: 50px;
  z-index: 99; }

.header_logo {
  position: absolute;
  width: 150px;
  top: 50%;
  left: 10px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

.header_logo img {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.header_nav {
  display: none;
  position: fixed;
  text-align: center;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #fff;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%); }
  .header_nav .header_nav__inner {
    position: relative;
    padding: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    border-top: 1px solid #eee; }
    .header_nav .header_nav__inner .header_nav__toggle {
      position: absolute;
      content: '';
      top: -44px;
      left: 50%;
      width: 100px;
      height: 24px;
      font-size: 16px;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      background-color: #fff;
      border: 1px solid #eee;
      border-bottom: none;
      border-radius: 8px 8px 0 0;
      padding-top: 20px;
      line-height: 1; }
      .header_nav .header_nav__inner .header_nav__toggle.hide:before {
        position: absolute;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        top: -2px;
        left: 50%;
        content: '';
        width: 18px;
        height: 18px;
        border-top: 9px solid transparent;
        border-right: 9px solid transparent;
        border-bottom: 9px solid #ddd;
        border-left: 9px solid transparent;
        -webkit-transform: translate(-50%, 0);
            -ms-transform: translate(-50%, 0);
                transform: translate(-50%, 0); }
      .header_nav .header_nav__inner .header_nav__toggle.show:before {
        position: absolute;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        top: 8px;
        left: 50%;
        content: '';
        width: 18px;
        height: 18px;
        border-top: 9px solid #ddd;
        border-right: 9px solid transparent;
        border-bottom: 9px solid transparent;
        border-left: 9px solid transparent;
        -webkit-transform: translate(-50%, 0);
            -ms-transform: translate(-50%, 0);
                transform: translate(-50%, 0); }
    .header_nav .header_nav__inner .header_nav__item {
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 80px;
          -ms-flex: 1 1 80px;
              flex: 1 1 80px;
      height: 30px; }
      .header_nav .header_nav__inner .header_nav__item.wide {
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 auto;
            -ms-flex: 1 1 auto;
                flex: 1 1 auto; }

.header_contact {
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

.header_contact .header_contact__phone {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.header_contact .header_contact__phone--text {
  font-size: 18px;
  font-weight: 600; }

.header_contact .header_contact__phone--sub {
  font-size: 14px;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end; }

@media screen and (max-width: 350px) {
  .header_contact .header_contact__phone--text {
    font-size: 14px; }
  .header_contact .header_contact__phone--sub {
    font-size: 10px; } }

.heading2 {
  font-weight: 500;
  font-size: 28px;
  margin: 40px 0 50px;
  text-align: center; }

.heading2 span {
  position: relative;
  display: inline-block;
  margin: 0 auto; }

.heading2 span:after {
  bottom: -20px;
  left: 50%;
  content: '';
  position: absolute;
  width: 100%;
  max-width: calc(100% - 20px);
  height: 2px;
  background-color: #81c07a;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }

.heading3 {
  font-weight: 500;
  font-size: 20px;
  margin: 20px 0 40px;
  text-align: center; }

.heading3 span {
  display: inline-block;
  position: relative;
  margin: 0 auto; }

.heading3 span:after {
  bottom: -10px;
  left: 50%;
  margin-left: -10px;
  content: '';
  position: absolute;
  width: 20px;
  height: 1px;
  background-color: #81c07a; }

.heading4 {
  font-weight: 500;
  font-size: 18px;
  margin: 16px 0;
  text-align: left; }

.heading4 span {
  display: inline-block;
  margin: 0 auto; }

.image-contain-x {
  position: relative;
  height: 300px;
  overflow: hidden; }

.image-contain-x img {
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

.image-cover {
  position: relative;
  height: 300px;
  overflow: hidden; }

.image-cover img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  max-width: inherit; }

.link.link_right {
  padding-right: 25px;
  background: url(https://placehold.jp/20x20.png) right center no-repeat; }

.link.link_blank {
  padding-right: 25px;
  background: url(https://placehold.jp/20x20.png) right center no-repeat; }

.link.link_tel {
  padding-right: 25px;
  background: url(https://placehold.jp/20x20.png) right center no-repeat; }

.linkList_item:not(:last-child) {
  margin-bottom: 20px; }

.swiper-container {
  width: 100%;
  height: 100%; }

.swiper-slide {
  background-position: center;
  background-size: cover; }

.mv {
  position: relative;
  height: 30vh;
  z-index: 0; }

.mv .mv_text {
  color: #fff;
  font-size: 16px; }

.mv .mv_contents {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  padding: 8px;
  height: auto; }

.mv .mv_contents.sp-posi-bottom {
  bottom: 0;
  left: 0;
  width: 100%; }
