/* text-align */
.pc-tac {
  text-align: center !important; }

.pc-tal {
  text-align: left !important; }

.pc-tar {
  text-align: right !important; }

/* margin auto */
.pc-mAuto {
  margin: 0 auto !important; }

/* margin */
.pc-mt-1 {
  margin-top: 1px !important; }

.pc-mr-1 {
  margin-right: 1px !important; }

.pc-mb-1 {
  margin-bottom: 1px !important; }

.pc-ml-1 {
  margin-left: 1px !important; }

.pc-mt-2 {
  margin-top: 2px !important; }

.pc-mr-2 {
  margin-right: 2px !important; }

.pc-mb-2 {
  margin-bottom: 2px !important; }

.pc-ml-2 {
  margin-left: 2px !important; }

.pc-mt-3 {
  margin-top: 3px !important; }

.pc-mr-3 {
  margin-right: 3px !important; }

.pc-mb-3 {
  margin-bottom: 3px !important; }

.pc-ml-3 {
  margin-left: 3px !important; }

.pc-mt-4 {
  margin-top: 4px !important; }

.pc-mr-4 {
  margin-right: 4px !important; }

.pc-mb-4 {
  margin-bottom: 4px !important; }

.pc-ml-4 {
  margin-left: 4px !important; }

.pc-mt-5 {
  margin-top: 5px !important; }

.pc-mr-5 {
  margin-right: 5px !important; }

.pc-mb-5 {
  margin-bottom: 5px !important; }

.pc-ml-5 {
  margin-left: 5px !important; }

.pc-mt-6 {
  margin-top: 6px !important; }

.pc-mr-6 {
  margin-right: 6px !important; }

.pc-mb-6 {
  margin-bottom: 6px !important; }

.pc-ml-6 {
  margin-left: 6px !important; }

.pc-mt-7 {
  margin-top: 7px !important; }

.pc-mr-7 {
  margin-right: 7px !important; }

.pc-mb-7 {
  margin-bottom: 7px !important; }

.pc-ml-7 {
  margin-left: 7px !important; }

.pc-mt-8 {
  margin-top: 8px !important; }

.pc-mr-8 {
  margin-right: 8px !important; }

.pc-mb-8 {
  margin-bottom: 8px !important; }

.pc-ml-8 {
  margin-left: 8px !important; }

.pc-mt-9 {
  margin-top: 9px !important; }

.pc-mr-9 {
  margin-right: 9px !important; }

.pc-mb-9 {
  margin-bottom: 9px !important; }

.pc-ml-9 {
  margin-left: 9px !important; }

.pc-mt-10 {
  margin-top: 10px !important; }

.pc-mr-10 {
  margin-right: 10px !important; }

.pc-mb-10 {
  margin-bottom: 10px !important; }

.pc-ml-10 {
  margin-left: 10px !important; }

.pc-mt-11 {
  margin-top: 11px !important; }

.pc-mr-11 {
  margin-right: 11px !important; }

.pc-mb-11 {
  margin-bottom: 11px !important; }

.pc-ml-11 {
  margin-left: 11px !important; }

.pc-mt-12 {
  margin-top: 12px !important; }

.pc-mr-12 {
  margin-right: 12px !important; }

.pc-mb-12 {
  margin-bottom: 12px !important; }

.pc-ml-12 {
  margin-left: 12px !important; }

.pc-mt-13 {
  margin-top: 13px !important; }

.pc-mr-13 {
  margin-right: 13px !important; }

.pc-mb-13 {
  margin-bottom: 13px !important; }

.pc-ml-13 {
  margin-left: 13px !important; }

.pc-mt-14 {
  margin-top: 14px !important; }

.pc-mr-14 {
  margin-right: 14px !important; }

.pc-mb-14 {
  margin-bottom: 14px !important; }

.pc-ml-14 {
  margin-left: 14px !important; }

.pc-mt-15 {
  margin-top: 15px !important; }

.pc-mr-15 {
  margin-right: 15px !important; }

.pc-mb-15 {
  margin-bottom: 15px !important; }

.pc-ml-15 {
  margin-left: 15px !important; }

.pc-mt-16 {
  margin-top: 16px !important; }

.pc-mr-16 {
  margin-right: 16px !important; }

.pc-mb-16 {
  margin-bottom: 16px !important; }

.pc-ml-16 {
  margin-left: 16px !important; }

.pc-mt-17 {
  margin-top: 17px !important; }

.pc-mr-17 {
  margin-right: 17px !important; }

.pc-mb-17 {
  margin-bottom: 17px !important; }

.pc-ml-17 {
  margin-left: 17px !important; }

.pc-mt-18 {
  margin-top: 18px !important; }

.pc-mr-18 {
  margin-right: 18px !important; }

.pc-mb-18 {
  margin-bottom: 18px !important; }

.pc-ml-18 {
  margin-left: 18px !important; }

.pc-mt-19 {
  margin-top: 19px !important; }

.pc-mr-19 {
  margin-right: 19px !important; }

.pc-mb-19 {
  margin-bottom: 19px !important; }

.pc-ml-19 {
  margin-left: 19px !important; }

.pc-mt-20 {
  margin-top: 20px !important; }

.pc-mr-20 {
  margin-right: 20px !important; }

.pc-mb-20 {
  margin-bottom: 20px !important; }

.pc-ml-20 {
  margin-left: 20px !important; }

.pc-mt-21 {
  margin-top: 21px !important; }

.pc-mr-21 {
  margin-right: 21px !important; }

.pc-mb-21 {
  margin-bottom: 21px !important; }

.pc-ml-21 {
  margin-left: 21px !important; }

.pc-mt-22 {
  margin-top: 22px !important; }

.pc-mr-22 {
  margin-right: 22px !important; }

.pc-mb-22 {
  margin-bottom: 22px !important; }

.pc-ml-22 {
  margin-left: 22px !important; }

.pc-mt-23 {
  margin-top: 23px !important; }

.pc-mr-23 {
  margin-right: 23px !important; }

.pc-mb-23 {
  margin-bottom: 23px !important; }

.pc-ml-23 {
  margin-left: 23px !important; }

.pc-mt-24 {
  margin-top: 24px !important; }

.pc-mr-24 {
  margin-right: 24px !important; }

.pc-mb-24 {
  margin-bottom: 24px !important; }

.pc-ml-24 {
  margin-left: 24px !important; }

.pc-mt-25 {
  margin-top: 25px !important; }

.pc-mr-25 {
  margin-right: 25px !important; }

.pc-mb-25 {
  margin-bottom: 25px !important; }

.pc-ml-25 {
  margin-left: 25px !important; }

.pc-mt-26 {
  margin-top: 26px !important; }

.pc-mr-26 {
  margin-right: 26px !important; }

.pc-mb-26 {
  margin-bottom: 26px !important; }

.pc-ml-26 {
  margin-left: 26px !important; }

.pc-mt-27 {
  margin-top: 27px !important; }

.pc-mr-27 {
  margin-right: 27px !important; }

.pc-mb-27 {
  margin-bottom: 27px !important; }

.pc-ml-27 {
  margin-left: 27px !important; }

.pc-mt-28 {
  margin-top: 28px !important; }

.pc-mr-28 {
  margin-right: 28px !important; }

.pc-mb-28 {
  margin-bottom: 28px !important; }

.pc-ml-28 {
  margin-left: 28px !important; }

.pc-mt-29 {
  margin-top: 29px !important; }

.pc-mr-29 {
  margin-right: 29px !important; }

.pc-mb-29 {
  margin-bottom: 29px !important; }

.pc-ml-29 {
  margin-left: 29px !important; }

.pc-mt-30 {
  margin-top: 30px !important; }

.pc-mr-30 {
  margin-right: 30px !important; }

.pc-mb-30 {
  margin-bottom: 30px !important; }

.pc-ml-30 {
  margin-left: 30px !important; }

.pc-mt-31 {
  margin-top: 31px !important; }

.pc-mr-31 {
  margin-right: 31px !important; }

.pc-mb-31 {
  margin-bottom: 31px !important; }

.pc-ml-31 {
  margin-left: 31px !important; }

.pc-mt-32 {
  margin-top: 32px !important; }

.pc-mr-32 {
  margin-right: 32px !important; }

.pc-mb-32 {
  margin-bottom: 32px !important; }

.pc-ml-32 {
  margin-left: 32px !important; }

.pc-mt-33 {
  margin-top: 33px !important; }

.pc-mr-33 {
  margin-right: 33px !important; }

.pc-mb-33 {
  margin-bottom: 33px !important; }

.pc-ml-33 {
  margin-left: 33px !important; }

.pc-mt-34 {
  margin-top: 34px !important; }

.pc-mr-34 {
  margin-right: 34px !important; }

.pc-mb-34 {
  margin-bottom: 34px !important; }

.pc-ml-34 {
  margin-left: 34px !important; }

.pc-mt-35 {
  margin-top: 35px !important; }

.pc-mr-35 {
  margin-right: 35px !important; }

.pc-mb-35 {
  margin-bottom: 35px !important; }

.pc-ml-35 {
  margin-left: 35px !important; }

.pc-mt-36 {
  margin-top: 36px !important; }

.pc-mr-36 {
  margin-right: 36px !important; }

.pc-mb-36 {
  margin-bottom: 36px !important; }

.pc-ml-36 {
  margin-left: 36px !important; }

.pc-mt-37 {
  margin-top: 37px !important; }

.pc-mr-37 {
  margin-right: 37px !important; }

.pc-mb-37 {
  margin-bottom: 37px !important; }

.pc-ml-37 {
  margin-left: 37px !important; }

.pc-mt-38 {
  margin-top: 38px !important; }

.pc-mr-38 {
  margin-right: 38px !important; }

.pc-mb-38 {
  margin-bottom: 38px !important; }

.pc-ml-38 {
  margin-left: 38px !important; }

.pc-mt-39 {
  margin-top: 39px !important; }

.pc-mr-39 {
  margin-right: 39px !important; }

.pc-mb-39 {
  margin-bottom: 39px !important; }

.pc-ml-39 {
  margin-left: 39px !important; }

.pc-mt-40 {
  margin-top: 40px !important; }

.pc-mr-40 {
  margin-right: 40px !important; }

.pc-mb-40 {
  margin-bottom: 40px !important; }

.pc-ml-40 {
  margin-left: 40px !important; }

.pc-mt-41 {
  margin-top: 41px !important; }

.pc-mr-41 {
  margin-right: 41px !important; }

.pc-mb-41 {
  margin-bottom: 41px !important; }

.pc-ml-41 {
  margin-left: 41px !important; }

.pc-mt-42 {
  margin-top: 42px !important; }

.pc-mr-42 {
  margin-right: 42px !important; }

.pc-mb-42 {
  margin-bottom: 42px !important; }

.pc-ml-42 {
  margin-left: 42px !important; }

.pc-mt-43 {
  margin-top: 43px !important; }

.pc-mr-43 {
  margin-right: 43px !important; }

.pc-mb-43 {
  margin-bottom: 43px !important; }

.pc-ml-43 {
  margin-left: 43px !important; }

.pc-mt-44 {
  margin-top: 44px !important; }

.pc-mr-44 {
  margin-right: 44px !important; }

.pc-mb-44 {
  margin-bottom: 44px !important; }

.pc-ml-44 {
  margin-left: 44px !important; }

.pc-mt-45 {
  margin-top: 45px !important; }

.pc-mr-45 {
  margin-right: 45px !important; }

.pc-mb-45 {
  margin-bottom: 45px !important; }

.pc-ml-45 {
  margin-left: 45px !important; }

.pc-mt-46 {
  margin-top: 46px !important; }

.pc-mr-46 {
  margin-right: 46px !important; }

.pc-mb-46 {
  margin-bottom: 46px !important; }

.pc-ml-46 {
  margin-left: 46px !important; }

.pc-mt-47 {
  margin-top: 47px !important; }

.pc-mr-47 {
  margin-right: 47px !important; }

.pc-mb-47 {
  margin-bottom: 47px !important; }

.pc-ml-47 {
  margin-left: 47px !important; }

.pc-mt-48 {
  margin-top: 48px !important; }

.pc-mr-48 {
  margin-right: 48px !important; }

.pc-mb-48 {
  margin-bottom: 48px !important; }

.pc-ml-48 {
  margin-left: 48px !important; }

.pc-mt-49 {
  margin-top: 49px !important; }

.pc-mr-49 {
  margin-right: 49px !important; }

.pc-mb-49 {
  margin-bottom: 49px !important; }

.pc-ml-49 {
  margin-left: 49px !important; }

.pc-mt-50 {
  margin-top: 50px !important; }

.pc-mr-50 {
  margin-right: 50px !important; }

.pc-mb-50 {
  margin-bottom: 50px !important; }

.pc-ml-50 {
  margin-left: 50px !important; }

.pc-mt-51 {
  margin-top: 51px !important; }

.pc-mr-51 {
  margin-right: 51px !important; }

.pc-mb-51 {
  margin-bottom: 51px !important; }

.pc-ml-51 {
  margin-left: 51px !important; }

.pc-mt-52 {
  margin-top: 52px !important; }

.pc-mr-52 {
  margin-right: 52px !important; }

.pc-mb-52 {
  margin-bottom: 52px !important; }

.pc-ml-52 {
  margin-left: 52px !important; }

.pc-mt-53 {
  margin-top: 53px !important; }

.pc-mr-53 {
  margin-right: 53px !important; }

.pc-mb-53 {
  margin-bottom: 53px !important; }

.pc-ml-53 {
  margin-left: 53px !important; }

.pc-mt-54 {
  margin-top: 54px !important; }

.pc-mr-54 {
  margin-right: 54px !important; }

.pc-mb-54 {
  margin-bottom: 54px !important; }

.pc-ml-54 {
  margin-left: 54px !important; }

.pc-mt-55 {
  margin-top: 55px !important; }

.pc-mr-55 {
  margin-right: 55px !important; }

.pc-mb-55 {
  margin-bottom: 55px !important; }

.pc-ml-55 {
  margin-left: 55px !important; }

.pc-mt-56 {
  margin-top: 56px !important; }

.pc-mr-56 {
  margin-right: 56px !important; }

.pc-mb-56 {
  margin-bottom: 56px !important; }

.pc-ml-56 {
  margin-left: 56px !important; }

.pc-mt-57 {
  margin-top: 57px !important; }

.pc-mr-57 {
  margin-right: 57px !important; }

.pc-mb-57 {
  margin-bottom: 57px !important; }

.pc-ml-57 {
  margin-left: 57px !important; }

.pc-mt-58 {
  margin-top: 58px !important; }

.pc-mr-58 {
  margin-right: 58px !important; }

.pc-mb-58 {
  margin-bottom: 58px !important; }

.pc-ml-58 {
  margin-left: 58px !important; }

.pc-mt-59 {
  margin-top: 59px !important; }

.pc-mr-59 {
  margin-right: 59px !important; }

.pc-mb-59 {
  margin-bottom: 59px !important; }

.pc-ml-59 {
  margin-left: 59px !important; }

.pc-mt-60 {
  margin-top: 60px !important; }

.pc-mr-60 {
  margin-right: 60px !important; }

.pc-mb-60 {
  margin-bottom: 60px !important; }

.pc-ml-60 {
  margin-left: 60px !important; }

.pc-mt-61 {
  margin-top: 61px !important; }

.pc-mr-61 {
  margin-right: 61px !important; }

.pc-mb-61 {
  margin-bottom: 61px !important; }

.pc-ml-61 {
  margin-left: 61px !important; }

.pc-mt-62 {
  margin-top: 62px !important; }

.pc-mr-62 {
  margin-right: 62px !important; }

.pc-mb-62 {
  margin-bottom: 62px !important; }

.pc-ml-62 {
  margin-left: 62px !important; }

.pc-mt-63 {
  margin-top: 63px !important; }

.pc-mr-63 {
  margin-right: 63px !important; }

.pc-mb-63 {
  margin-bottom: 63px !important; }

.pc-ml-63 {
  margin-left: 63px !important; }

.pc-mt-64 {
  margin-top: 64px !important; }

.pc-mr-64 {
  margin-right: 64px !important; }

.pc-mb-64 {
  margin-bottom: 64px !important; }

.pc-ml-64 {
  margin-left: 64px !important; }

.pc-mt-65 {
  margin-top: 65px !important; }

.pc-mr-65 {
  margin-right: 65px !important; }

.pc-mb-65 {
  margin-bottom: 65px !important; }

.pc-ml-65 {
  margin-left: 65px !important; }

.pc-mt-66 {
  margin-top: 66px !important; }

.pc-mr-66 {
  margin-right: 66px !important; }

.pc-mb-66 {
  margin-bottom: 66px !important; }

.pc-ml-66 {
  margin-left: 66px !important; }

.pc-mt-67 {
  margin-top: 67px !important; }

.pc-mr-67 {
  margin-right: 67px !important; }

.pc-mb-67 {
  margin-bottom: 67px !important; }

.pc-ml-67 {
  margin-left: 67px !important; }

.pc-mt-68 {
  margin-top: 68px !important; }

.pc-mr-68 {
  margin-right: 68px !important; }

.pc-mb-68 {
  margin-bottom: 68px !important; }

.pc-ml-68 {
  margin-left: 68px !important; }

.pc-mt-69 {
  margin-top: 69px !important; }

.pc-mr-69 {
  margin-right: 69px !important; }

.pc-mb-69 {
  margin-bottom: 69px !important; }

.pc-ml-69 {
  margin-left: 69px !important; }

.pc-mt-70 {
  margin-top: 70px !important; }

.pc-mr-70 {
  margin-right: 70px !important; }

.pc-mb-70 {
  margin-bottom: 70px !important; }

.pc-ml-70 {
  margin-left: 70px !important; }

.pc-mt-71 {
  margin-top: 71px !important; }

.pc-mr-71 {
  margin-right: 71px !important; }

.pc-mb-71 {
  margin-bottom: 71px !important; }

.pc-ml-71 {
  margin-left: 71px !important; }

.pc-mt-72 {
  margin-top: 72px !important; }

.pc-mr-72 {
  margin-right: 72px !important; }

.pc-mb-72 {
  margin-bottom: 72px !important; }

.pc-ml-72 {
  margin-left: 72px !important; }

.pc-mt-73 {
  margin-top: 73px !important; }

.pc-mr-73 {
  margin-right: 73px !important; }

.pc-mb-73 {
  margin-bottom: 73px !important; }

.pc-ml-73 {
  margin-left: 73px !important; }

.pc-mt-74 {
  margin-top: 74px !important; }

.pc-mr-74 {
  margin-right: 74px !important; }

.pc-mb-74 {
  margin-bottom: 74px !important; }

.pc-ml-74 {
  margin-left: 74px !important; }

.pc-mt-75 {
  margin-top: 75px !important; }

.pc-mr-75 {
  margin-right: 75px !important; }

.pc-mb-75 {
  margin-bottom: 75px !important; }

.pc-ml-75 {
  margin-left: 75px !important; }

.pc-mt-76 {
  margin-top: 76px !important; }

.pc-mr-76 {
  margin-right: 76px !important; }

.pc-mb-76 {
  margin-bottom: 76px !important; }

.pc-ml-76 {
  margin-left: 76px !important; }

.pc-mt-77 {
  margin-top: 77px !important; }

.pc-mr-77 {
  margin-right: 77px !important; }

.pc-mb-77 {
  margin-bottom: 77px !important; }

.pc-ml-77 {
  margin-left: 77px !important; }

.pc-mt-78 {
  margin-top: 78px !important; }

.pc-mr-78 {
  margin-right: 78px !important; }

.pc-mb-78 {
  margin-bottom: 78px !important; }

.pc-ml-78 {
  margin-left: 78px !important; }

.pc-mt-79 {
  margin-top: 79px !important; }

.pc-mr-79 {
  margin-right: 79px !important; }

.pc-mb-79 {
  margin-bottom: 79px !important; }

.pc-ml-79 {
  margin-left: 79px !important; }

.pc-mt-80 {
  margin-top: 80px !important; }

.pc-mr-80 {
  margin-right: 80px !important; }

.pc-mb-80 {
  margin-bottom: 80px !important; }

.pc-ml-80 {
  margin-left: 80px !important; }

/* padding */
.pc-mt-1 {
  padding-top: 1px !important; }

.pc-mr-1 {
  padding-right: 1px !important; }

.pc-pb-1 {
  padding-bottom: 1px !important; }

.pc-pl-1 {
  padding-left: 1px !important; }

.pc-pt-2 {
  padding-top: 2px !important; }

.pc-pr-2 {
  padding-right: 2px !important; }

.pc-pb-2 {
  padding-bottom: 2px !important; }

.pc-pl-2 {
  padding-left: 2px !important; }

.pc-pt-3 {
  padding-top: 3px !important; }

.pc-pr-3 {
  padding-right: 3px !important; }

.pc-pb-3 {
  padding-bottom: 3px !important; }

.pc-pl-3 {
  padding-left: 3px !important; }

.pc-pt-4 {
  padding-top: 4px !important; }

.pc-pr-4 {
  padding-right: 4px !important; }

.pc-pb-4 {
  padding-bottom: 4px !important; }

.pc-pl-4 {
  padding-left: 4px !important; }

.pc-pt-5 {
  padding-top: 5px !important; }

.pc-pr-5 {
  padding-right: 5px !important; }

.pc-pb-5 {
  padding-bottom: 5px !important; }

.pc-pl-5 {
  padding-left: 5px !important; }

.pc-pt-6 {
  padding-top: 6px !important; }

.pc-pr-6 {
  padding-right: 6px !important; }

.pc-pb-6 {
  padding-bottom: 6px !important; }

.pc-pl-6 {
  padding-left: 6px !important; }

.pc-pt-7 {
  padding-top: 7px !important; }

.pc-pr-7 {
  padding-right: 7px !important; }

.pc-pb-7 {
  padding-bottom: 7px !important; }

.pc-pl-7 {
  padding-left: 7px !important; }

.pc-pt-8 {
  padding-top: 8px !important; }

.pc-pr-8 {
  padding-right: 8px !important; }

.pc-pb-8 {
  padding-bottom: 8px !important; }

.pc-pl-8 {
  padding-left: 8px !important; }

.pc-pt-9 {
  padding-top: 9px !important; }

.pc-pr-9 {
  padding-right: 9px !important; }

.pc-pb-9 {
  padding-bottom: 9px !important; }

.pc-pl-9 {
  padding-left: 9px !important; }

.pc-pt-10 {
  padding-top: 10px !important; }

.pc-pr-10 {
  padding-right: 10px !important; }

.pc-pb-10 {
  padding-bottom: 10px !important; }

.pc-pl-10 {
  padding-left: 10px !important; }

.pc-pt-11 {
  padding-top: 11px !important; }

.pc-pr-11 {
  padding-right: 11px !important; }

.pc-pb-11 {
  padding-bottom: 11px !important; }

.pc-pl-11 {
  padding-left: 11px !important; }

.pc-pt-12 {
  padding-top: 12px !important; }

.pc-pr-12 {
  padding-right: 12px !important; }

.pc-pb-12 {
  padding-bottom: 12px !important; }

.pc-pl-12 {
  padding-left: 12px !important; }

.pc-pt-13 {
  padding-top: 13px !important; }

.pc-pr-13 {
  padding-right: 13px !important; }

.pc-pb-13 {
  padding-bottom: 13px !important; }

.pc-pl-13 {
  padding-left: 13px !important; }

.pc-pt-14 {
  padding-top: 14px !important; }

.pc-pr-14 {
  padding-right: 14px !important; }

.pc-pb-14 {
  padding-bottom: 14px !important; }

.pc-pl-14 {
  padding-left: 14px !important; }

.pc-pt-15 {
  padding-top: 15px !important; }

.pc-pr-15 {
  padding-right: 15px !important; }

.pc-pb-15 {
  padding-bottom: 15px !important; }

.pc-pl-15 {
  padding-left: 15px !important; }

.pc-pt-16 {
  padding-top: 16px !important; }

.pc-pr-16 {
  padding-right: 16px !important; }

.pc-pb-16 {
  padding-bottom: 16px !important; }

.pc-pl-16 {
  padding-left: 16px !important; }

.pc-pt-17 {
  padding-top: 17px !important; }

.pc-pr-17 {
  padding-right: 17px !important; }

.pc-pb-17 {
  padding-bottom: 17px !important; }

.pc-pl-17 {
  padding-left: 17px !important; }

.pc-pt-18 {
  padding-top: 18px !important; }

.pc-pr-18 {
  padding-right: 18px !important; }

.pc-pb-18 {
  padding-bottom: 18px !important; }

.pc-pl-18 {
  padding-left: 18px !important; }

.pc-pt-19 {
  padding-top: 19px !important; }

.pc-pr-19 {
  padding-right: 19px !important; }

.pc-pb-19 {
  padding-bottom: 19px !important; }

.pc-pl-19 {
  padding-left: 19px !important; }

.pc-pt-20 {
  padding-top: 20px !important; }

.pc-pr-20 {
  padding-right: 20px !important; }

.pc-pb-20 {
  padding-bottom: 20px !important; }

.pc-pl-20 {
  padding-left: 20px !important; }

.pc-pt-21 {
  padding-top: 21px !important; }

.pc-pr-21 {
  padding-right: 21px !important; }

.pc-pb-21 {
  padding-bottom: 21px !important; }

.pc-pl-21 {
  padding-left: 21px !important; }

.pc-pt-22 {
  padding-top: 22px !important; }

.pc-pr-22 {
  padding-right: 22px !important; }

.pc-pb-22 {
  padding-bottom: 22px !important; }

.pc-pl-22 {
  padding-left: 22px !important; }

.pc-pt-23 {
  padding-top: 23px !important; }

.pc-pr-23 {
  padding-right: 23px !important; }

.pc-pb-23 {
  padding-bottom: 23px !important; }

.pc-pl-23 {
  padding-left: 23px !important; }

.pc-pt-24 {
  padding-top: 24px !important; }

.pc-pr-24 {
  padding-right: 24px !important; }

.pc-pb-24 {
  padding-bottom: 24px !important; }

.pc-pl-24 {
  padding-left: 24px !important; }

.pc-pt-25 {
  padding-top: 25px !important; }

.pc-pr-25 {
  padding-right: 25px !important; }

.pc-pb-25 {
  padding-bottom: 25px !important; }

.pc-pl-25 {
  padding-left: 25px !important; }

.pc-pt-26 {
  padding-top: 26px !important; }

.pc-pr-26 {
  padding-right: 26px !important; }

.pc-pb-26 {
  padding-bottom: 26px !important; }

.pc-pl-26 {
  padding-left: 26px !important; }

.pc-pt-27 {
  padding-top: 27px !important; }

.pc-pr-27 {
  padding-right: 27px !important; }

.pc-pb-27 {
  padding-bottom: 27px !important; }

.pc-pl-27 {
  padding-left: 27px !important; }

.pc-pt-28 {
  padding-top: 28px !important; }

.pc-pr-28 {
  padding-right: 28px !important; }

.pc-pb-28 {
  padding-bottom: 28px !important; }

.pc-pl-28 {
  padding-left: 28px !important; }

.pc-pt-29 {
  padding-top: 29px !important; }

.pc-pr-29 {
  padding-right: 29px !important; }

.pc-pb-29 {
  padding-bottom: 29px !important; }

.pc-pl-29 {
  padding-left: 29px !important; }

.pc-pt-30 {
  padding-top: 30px !important; }

.pc-pr-30 {
  padding-right: 30px !important; }

.pc-pb-30 {
  padding-bottom: 30px !important; }

.pc-pl-30 {
  padding-left: 30px !important; }

.pc-pt-31 {
  padding-top: 31px !important; }

.pc-pr-31 {
  padding-right: 31px !important; }

.pc-pb-31 {
  padding-bottom: 31px !important; }

.pc-pl-31 {
  padding-left: 31px !important; }

.pc-pt-32 {
  padding-top: 32px !important; }

.pc-pr-32 {
  padding-right: 32px !important; }

.pc-pb-32 {
  padding-bottom: 32px !important; }

.pc-pl-32 {
  padding-left: 32px !important; }

.pc-pt-33 {
  padding-top: 33px !important; }

.pc-pr-33 {
  padding-right: 33px !important; }

.pc-pb-33 {
  padding-bottom: 33px !important; }

.pc-pl-33 {
  padding-left: 33px !important; }

.pc-pt-34 {
  padding-top: 34px !important; }

.pc-pr-34 {
  padding-right: 34px !important; }

.pc-pb-34 {
  padding-bottom: 34px !important; }

.pc-pl-34 {
  padding-left: 34px !important; }

.pc-pt-35 {
  padding-top: 35px !important; }

.pc-pr-35 {
  padding-right: 35px !important; }

.pc-pb-35 {
  padding-bottom: 35px !important; }

.pc-pl-35 {
  padding-left: 35px !important; }

.pc-pt-36 {
  padding-top: 36px !important; }

.pc-pr-36 {
  padding-right: 36px !important; }

.pc-pb-36 {
  padding-bottom: 36px !important; }

.pc-pl-36 {
  padding-left: 36px !important; }

.pc-pt-37 {
  padding-top: 37px !important; }

.pc-pr-37 {
  padding-right: 37px !important; }

.pc-pb-37 {
  padding-bottom: 37px !important; }

.pc-pl-37 {
  padding-left: 37px !important; }

.pc-pt-38 {
  padding-top: 38px !important; }

.pc-pr-38 {
  padding-right: 38px !important; }

.pc-pb-38 {
  padding-bottom: 38px !important; }

.pc-pl-38 {
  padding-left: 38px !important; }

.pc-pt-39 {
  padding-top: 39px !important; }

.pc-pr-39 {
  padding-right: 39px !important; }

.pc-pb-39 {
  padding-bottom: 39px !important; }

.pc-pl-39 {
  padding-left: 39px !important; }

.pc-pt-40 {
  padding-top: 40px !important; }

.pc-pr-40 {
  padding-right: 40px !important; }

.pc-pb-40 {
  padding-bottom: 40px !important; }

.pc-pl-40 {
  padding-left: 40px !important; }

.pc-pt-41 {
  padding-top: 41px !important; }

.pc-pr-41 {
  padding-right: 41px !important; }

.pc-pb-41 {
  padding-bottom: 41px !important; }

.pc-pl-41 {
  padding-left: 41px !important; }

.pc-pt-42 {
  padding-top: 42px !important; }

.pc-pr-42 {
  padding-right: 42px !important; }

.pc-pb-42 {
  padding-bottom: 42px !important; }

.pc-pl-42 {
  padding-left: 42px !important; }

.pc-pt-43 {
  padding-top: 43px !important; }

.pc-pr-43 {
  padding-right: 43px !important; }

.pc-pb-43 {
  padding-bottom: 43px !important; }

.pc-pl-43 {
  padding-left: 43px !important; }

.pc-pt-44 {
  padding-top: 44px !important; }

.pc-pr-44 {
  padding-right: 44px !important; }

.pc-pb-44 {
  padding-bottom: 44px !important; }

.pc-pl-44 {
  padding-left: 44px !important; }

.pc-pt-45 {
  padding-top: 45px !important; }

.pc-pr-45 {
  padding-right: 45px !important; }

.pc-pb-45 {
  padding-bottom: 45px !important; }

.pc-pl-45 {
  padding-left: 45px !important; }

.pc-pt-46 {
  padding-top: 46px !important; }

.pc-pr-46 {
  padding-right: 46px !important; }

.pc-pb-46 {
  padding-bottom: 46px !important; }

.pc-pl-46 {
  padding-left: 46px !important; }

.pc-pt-47 {
  padding-top: 47px !important; }

.pc-pr-47 {
  padding-right: 47px !important; }

.pc-pb-47 {
  padding-bottom: 47px !important; }

.pc-pl-47 {
  padding-left: 47px !important; }

.pc-pt-48 {
  padding-top: 48px !important; }

.pc-pr-48 {
  padding-right: 48px !important; }

.pc-pb-48 {
  padding-bottom: 48px !important; }

.pc-pl-48 {
  padding-left: 48px !important; }

.pc-pt-49 {
  padding-top: 49px !important; }

.pc-pr-49 {
  padding-right: 49px !important; }

.pc-pb-49 {
  padding-bottom: 49px !important; }

.pc-pl-49 {
  padding-left: 49px !important; }

.pc-pt-50 {
  padding-top: 50px !important; }

.pc-pr-50 {
  padding-right: 50px !important; }

.pc-pb-50 {
  padding-bottom: 50px !important; }

.pc-pl-50 {
  padding-left: 50px !important; }

.pc-pt-51 {
  padding-top: 51px !important; }

.pc-pr-51 {
  padding-right: 51px !important; }

.pc-pb-51 {
  padding-bottom: 51px !important; }

.pc-pl-51 {
  padding-left: 51px !important; }

.pc-pt-52 {
  padding-top: 52px !important; }

.pc-pr-52 {
  padding-right: 52px !important; }

.pc-pb-52 {
  padding-bottom: 52px !important; }

.pc-pl-52 {
  padding-left: 52px !important; }

.pc-pt-53 {
  padding-top: 53px !important; }

.pc-pr-53 {
  padding-right: 53px !important; }

.pc-pb-53 {
  padding-bottom: 53px !important; }

.pc-pl-53 {
  padding-left: 53px !important; }

.pc-pt-54 {
  padding-top: 54px !important; }

.pc-pr-54 {
  padding-right: 54px !important; }

.pc-pb-54 {
  padding-bottom: 54px !important; }

.pc-pl-54 {
  padding-left: 54px !important; }

.pc-pt-55 {
  padding-top: 55px !important; }

.pc-pr-55 {
  padding-right: 55px !important; }

.pc-pb-55 {
  padding-bottom: 55px !important; }

.pc-pl-55 {
  padding-left: 55px !important; }

.pc-pt-56 {
  padding-top: 56px !important; }

.pc-pr-56 {
  padding-right: 56px !important; }

.pc-pb-56 {
  padding-bottom: 56px !important; }

.pc-pl-56 {
  padding-left: 56px !important; }

.pc-pt-57 {
  padding-top: 57px !important; }

.pc-pr-57 {
  padding-right: 57px !important; }

.pc-pb-57 {
  padding-bottom: 57px !important; }

.pc-pl-57 {
  padding-left: 57px !important; }

.pc-pt-58 {
  padding-top: 58px !important; }

.pc-pr-58 {
  padding-right: 58px !important; }

.pc-pb-58 {
  padding-bottom: 58px !important; }

.pc-pl-58 {
  padding-left: 58px !important; }

.pc-pt-59 {
  padding-top: 59px !important; }

.pc-pr-59 {
  padding-right: 59px !important; }

.pc-pb-59 {
  padding-bottom: 59px !important; }

.pc-pl-59 {
  padding-left: 59px !important; }

.pc-pt-60 {
  padding-top: 60px !important; }

.pc-pr-60 {
  padding-right: 60px !important; }

.pc-pb-60 {
  padding-bottom: 60px !important; }

.pc-pl-60 {
  padding-left: 60px !important; }

.pc-pt-61 {
  padding-top: 61px !important; }

.pc-pr-61 {
  padding-right: 61px !important; }

.pc-pb-61 {
  padding-bottom: 61px !important; }

.pc-pl-61 {
  padding-left: 61px !important; }

.pc-pt-62 {
  padding-top: 62px !important; }

.pc-pr-62 {
  padding-right: 62px !important; }

.pc-pb-62 {
  padding-bottom: 62px !important; }

.pc-pl-62 {
  padding-left: 62px !important; }

.pc-pt-63 {
  padding-top: 63px !important; }

.pc-pr-63 {
  padding-right: 63px !important; }

.pc-pb-63 {
  padding-bottom: 63px !important; }

.pc-pl-63 {
  padding-left: 63px !important; }

.pc-pt-64 {
  padding-top: 64px !important; }

.pc-pr-64 {
  padding-right: 64px !important; }

.pc-pb-64 {
  padding-bottom: 64px !important; }

.pc-pl-64 {
  padding-left: 64px !important; }

.pc-pt-65 {
  padding-top: 65px !important; }

.pc-pr-65 {
  padding-right: 65px !important; }

.pc-pb-65 {
  padding-bottom: 65px !important; }

.pc-pl-65 {
  padding-left: 65px !important; }

.pc-pt-66 {
  padding-top: 66px !important; }

.pc-pr-66 {
  padding-right: 66px !important; }

.pc-pb-66 {
  padding-bottom: 66px !important; }

.pc-pl-66 {
  padding-left: 66px !important; }

.pc-pt-67 {
  padding-top: 67px !important; }

.pc-pr-67 {
  padding-right: 67px !important; }

.pc-pb-67 {
  padding-bottom: 67px !important; }

.pc-pl-67 {
  padding-left: 67px !important; }

.pc-pt-68 {
  padding-top: 68px !important; }

.pc-pr-68 {
  padding-right: 68px !important; }

.pc-pb-68 {
  padding-bottom: 68px !important; }

.pc-pl-68 {
  padding-left: 68px !important; }

.pc-pt-69 {
  padding-top: 69px !important; }

.pc-pr-69 {
  padding-right: 69px !important; }

.pc-pb-69 {
  padding-bottom: 69px !important; }

.pc-pl-69 {
  padding-left: 69px !important; }

.pc-pt-70 {
  padding-top: 70px !important; }

.pc-pr-70 {
  padding-right: 70px !important; }

.pc-pb-70 {
  padding-bottom: 70px !important; }

.pc-pl-70 {
  padding-left: 70px !important; }

.pc-pt-71 {
  padding-top: 71px !important; }

.pc-pr-71 {
  padding-right: 71px !important; }

.pc-pb-71 {
  padding-bottom: 71px !important; }

.pc-pl-71 {
  padding-left: 71px !important; }

.pc-pt-72 {
  padding-top: 72px !important; }

.pc-pr-72 {
  padding-right: 72px !important; }

.pc-pb-72 {
  padding-bottom: 72px !important; }

.pc-pl-72 {
  padding-left: 72px !important; }

.pc-pt-73 {
  padding-top: 73px !important; }

.pc-pr-73 {
  padding-right: 73px !important; }

.pc-pb-73 {
  padding-bottom: 73px !important; }

.pc-pl-73 {
  padding-left: 73px !important; }

.pc-pt-74 {
  padding-top: 74px !important; }

.pc-pr-74 {
  padding-right: 74px !important; }

.pc-pb-74 {
  padding-bottom: 74px !important; }

.pc-pl-74 {
  padding-left: 74px !important; }

.pc-pt-75 {
  padding-top: 75px !important; }

.pc-pr-75 {
  padding-right: 75px !important; }

.pc-pb-75 {
  padding-bottom: 75px !important; }

.pc-pl-75 {
  padding-left: 75px !important; }

.pc-pt-76 {
  padding-top: 76px !important; }

.pc-pr-76 {
  padding-right: 76px !important; }

.pc-pb-76 {
  padding-bottom: 76px !important; }

.pc-pl-76 {
  padding-left: 76px !important; }

.pc-pt-77 {
  padding-top: 77px !important; }

.pc-pr-77 {
  padding-right: 77px !important; }

.pc-pb-77 {
  padding-bottom: 77px !important; }

.pc-pl-77 {
  padding-left: 77px !important; }

.pc-pt-78 {
  padding-top: 78px !important; }

.pc-pr-78 {
  padding-right: 78px !important; }

.pc-pb-78 {
  padding-bottom: 78px !important; }

.pc-pl-78 {
  padding-left: 78px !important; }

.pc-pt-79 {
  padding-top: 79px !important; }

.pc-pr-79 {
  padding-right: 79px !important; }

.pc-pb-79 {
  padding-bottom: 79px !important; }

.pc-pl-79 {
  padding-left: 79px !important; }

.pc-pt-80 {
  padding-top: 80px !important; }

.pc-pr-80 {
  padding-right: 80px !important; }

.pc-pb-80 {
  padding-bottom: 80px !important; }

.pc-pl-80 {
  padding-left: 80px !important; }
