/* text-align */
.sp-tac {
  text-align: center !important; }

.sp-tal {
  text-align: left !important; }

.sp-tar {
  text-align: right !important; }

/* margin auto */
.sp-mAuto {
  margin: 0 auto !important; }

/* margin */
.sp-mt-1 {
  margin-top: 1px !important; }

.sp-mr-1 {
  margin-right: 1px !important; }

.sp-mb-1 {
  margin-bottom: 1px !important; }

.sp-ml-1 {
  margin-left: 1px !important; }

.sp-mt-2 {
  margin-top: 2px !important; }

.sp-mr-2 {
  margin-right: 2px !important; }

.sp-mb-2 {
  margin-bottom: 2px !important; }

.sp-ml-2 {
  margin-left: 2px !important; }

.sp-mt-3 {
  margin-top: 3px !important; }

.sp-mr-3 {
  margin-right: 3px !important; }

.sp-mb-3 {
  margin-bottom: 3px !important; }

.sp-ml-3 {
  margin-left: 3px !important; }

.sp-mt-4 {
  margin-top: 4px !important; }

.sp-mr-4 {
  margin-right: 4px !important; }

.sp-mb-4 {
  margin-bottom: 4px !important; }

.sp-ml-4 {
  margin-left: 4px !important; }

.sp-mt-5 {
  margin-top: 5px !important; }

.sp-mr-5 {
  margin-right: 5px !important; }

.sp-mb-5 {
  margin-bottom: 5px !important; }

.sp-ml-5 {
  margin-left: 5px !important; }

.sp-mt-6 {
  margin-top: 6px !important; }

.sp-mr-6 {
  margin-right: 6px !important; }

.sp-mb-6 {
  margin-bottom: 6px !important; }

.sp-ml-6 {
  margin-left: 6px !important; }

.sp-mt-7 {
  margin-top: 7px !important; }

.sp-mr-7 {
  margin-right: 7px !important; }

.sp-mb-7 {
  margin-bottom: 7px !important; }

.sp-ml-7 {
  margin-left: 7px !important; }

.sp-mt-8 {
  margin-top: 8px !important; }

.sp-mr-8 {
  margin-right: 8px !important; }

.sp-mb-8 {
  margin-bottom: 8px !important; }

.sp-ml-8 {
  margin-left: 8px !important; }

.sp-mt-9 {
  margin-top: 9px !important; }

.sp-mr-9 {
  margin-right: 9px !important; }

.sp-mb-9 {
  margin-bottom: 9px !important; }

.sp-ml-9 {
  margin-left: 9px !important; }

.sp-mt-10 {
  margin-top: 10px !important; }

.sp-mr-10 {
  margin-right: 10px !important; }

.sp-mb-10 {
  margin-bottom: 10px !important; }

.sp-ml-10 {
  margin-left: 10px !important; }

.sp-mt-11 {
  margin-top: 11px !important; }

.sp-mr-11 {
  margin-right: 11px !important; }

.sp-mb-11 {
  margin-bottom: 11px !important; }

.sp-ml-11 {
  margin-left: 11px !important; }

.sp-mt-12 {
  margin-top: 12px !important; }

.sp-mr-12 {
  margin-right: 12px !important; }

.sp-mb-12 {
  margin-bottom: 12px !important; }

.sp-ml-12 {
  margin-left: 12px !important; }

.sp-mt-13 {
  margin-top: 13px !important; }

.sp-mr-13 {
  margin-right: 13px !important; }

.sp-mb-13 {
  margin-bottom: 13px !important; }

.sp-ml-13 {
  margin-left: 13px !important; }

.sp-mt-14 {
  margin-top: 14px !important; }

.sp-mr-14 {
  margin-right: 14px !important; }

.sp-mb-14 {
  margin-bottom: 14px !important; }

.sp-ml-14 {
  margin-left: 14px !important; }

.sp-mt-15 {
  margin-top: 15px !important; }

.sp-mr-15 {
  margin-right: 15px !important; }

.sp-mb-15 {
  margin-bottom: 15px !important; }

.sp-ml-15 {
  margin-left: 15px !important; }

.sp-mt-16 {
  margin-top: 16px !important; }

.sp-mr-16 {
  margin-right: 16px !important; }

.sp-mb-16 {
  margin-bottom: 16px !important; }

.sp-ml-16 {
  margin-left: 16px !important; }

.sp-mt-17 {
  margin-top: 17px !important; }

.sp-mr-17 {
  margin-right: 17px !important; }

.sp-mb-17 {
  margin-bottom: 17px !important; }

.sp-ml-17 {
  margin-left: 17px !important; }

.sp-mt-18 {
  margin-top: 18px !important; }

.sp-mr-18 {
  margin-right: 18px !important; }

.sp-mb-18 {
  margin-bottom: 18px !important; }

.sp-ml-18 {
  margin-left: 18px !important; }

.sp-mt-19 {
  margin-top: 19px !important; }

.sp-mr-19 {
  margin-right: 19px !important; }

.sp-mb-19 {
  margin-bottom: 19px !important; }

.sp-ml-19 {
  margin-left: 19px !important; }

.sp-mt-20 {
  margin-top: 20px !important; }

.sp-mr-20 {
  margin-right: 20px !important; }

.sp-mb-20 {
  margin-bottom: 20px !important; }

.sp-ml-20 {
  margin-left: 20px !important; }

.sp-mt-21 {
  margin-top: 21px !important; }

.sp-mr-21 {
  margin-right: 21px !important; }

.sp-mb-21 {
  margin-bottom: 21px !important; }

.sp-ml-21 {
  margin-left: 21px !important; }

.sp-mt-22 {
  margin-top: 22px !important; }

.sp-mr-22 {
  margin-right: 22px !important; }

.sp-mb-22 {
  margin-bottom: 22px !important; }

.sp-ml-22 {
  margin-left: 22px !important; }

.sp-mt-23 {
  margin-top: 23px !important; }

.sp-mr-23 {
  margin-right: 23px !important; }

.sp-mb-23 {
  margin-bottom: 23px !important; }

.sp-ml-23 {
  margin-left: 23px !important; }

.sp-mt-24 {
  margin-top: 24px !important; }

.sp-mr-24 {
  margin-right: 24px !important; }

.sp-mb-24 {
  margin-bottom: 24px !important; }

.sp-ml-24 {
  margin-left: 24px !important; }

.sp-mt-25 {
  margin-top: 25px !important; }

.sp-mr-25 {
  margin-right: 25px !important; }

.sp-mb-25 {
  margin-bottom: 25px !important; }

.sp-ml-25 {
  margin-left: 25px !important; }

.sp-mt-26 {
  margin-top: 26px !important; }

.sp-mr-26 {
  margin-right: 26px !important; }

.sp-mb-26 {
  margin-bottom: 26px !important; }

.sp-ml-26 {
  margin-left: 26px !important; }

.sp-mt-27 {
  margin-top: 27px !important; }

.sp-mr-27 {
  margin-right: 27px !important; }

.sp-mb-27 {
  margin-bottom: 27px !important; }

.sp-ml-27 {
  margin-left: 27px !important; }

.sp-mt-28 {
  margin-top: 28px !important; }

.sp-mr-28 {
  margin-right: 28px !important; }

.sp-mb-28 {
  margin-bottom: 28px !important; }

.sp-ml-28 {
  margin-left: 28px !important; }

.sp-mt-29 {
  margin-top: 29px !important; }

.sp-mr-29 {
  margin-right: 29px !important; }

.sp-mb-29 {
  margin-bottom: 29px !important; }

.sp-ml-29 {
  margin-left: 29px !important; }

.sp-mt-30 {
  margin-top: 30px !important; }

.sp-mr-30 {
  margin-right: 30px !important; }

.sp-mb-30 {
  margin-bottom: 30px !important; }

.sp-ml-30 {
  margin-left: 30px !important; }

.sp-mt-31 {
  margin-top: 31px !important; }

.sp-mr-31 {
  margin-right: 31px !important; }

.sp-mb-31 {
  margin-bottom: 31px !important; }

.sp-ml-31 {
  margin-left: 31px !important; }

.sp-mt-32 {
  margin-top: 32px !important; }

.sp-mr-32 {
  margin-right: 32px !important; }

.sp-mb-32 {
  margin-bottom: 32px !important; }

.sp-ml-32 {
  margin-left: 32px !important; }

.sp-mt-33 {
  margin-top: 33px !important; }

.sp-mr-33 {
  margin-right: 33px !important; }

.sp-mb-33 {
  margin-bottom: 33px !important; }

.sp-ml-33 {
  margin-left: 33px !important; }

.sp-mt-34 {
  margin-top: 34px !important; }

.sp-mr-34 {
  margin-right: 34px !important; }

.sp-mb-34 {
  margin-bottom: 34px !important; }

.sp-ml-34 {
  margin-left: 34px !important; }

.sp-mt-35 {
  margin-top: 35px !important; }

.sp-mr-35 {
  margin-right: 35px !important; }

.sp-mb-35 {
  margin-bottom: 35px !important; }

.sp-ml-35 {
  margin-left: 35px !important; }

.sp-mt-36 {
  margin-top: 36px !important; }

.sp-mr-36 {
  margin-right: 36px !important; }

.sp-mb-36 {
  margin-bottom: 36px !important; }

.sp-ml-36 {
  margin-left: 36px !important; }

.sp-mt-37 {
  margin-top: 37px !important; }

.sp-mr-37 {
  margin-right: 37px !important; }

.sp-mb-37 {
  margin-bottom: 37px !important; }

.sp-ml-37 {
  margin-left: 37px !important; }

.sp-mt-38 {
  margin-top: 38px !important; }

.sp-mr-38 {
  margin-right: 38px !important; }

.sp-mb-38 {
  margin-bottom: 38px !important; }

.sp-ml-38 {
  margin-left: 38px !important; }

.sp-mt-39 {
  margin-top: 39px !important; }

.sp-mr-39 {
  margin-right: 39px !important; }

.sp-mb-39 {
  margin-bottom: 39px !important; }

.sp-ml-39 {
  margin-left: 39px !important; }

.sp-mt-40 {
  margin-top: 40px !important; }

.sp-mr-40 {
  margin-right: 40px !important; }

.sp-mb-40 {
  margin-bottom: 40px !important; }

.sp-ml-40 {
  margin-left: 40px !important; }

.sp-mt-41 {
  margin-top: 41px !important; }

.sp-mr-41 {
  margin-right: 41px !important; }

.sp-mb-41 {
  margin-bottom: 41px !important; }

.sp-ml-41 {
  margin-left: 41px !important; }

.sp-mt-42 {
  margin-top: 42px !important; }

.sp-mr-42 {
  margin-right: 42px !important; }

.sp-mb-42 {
  margin-bottom: 42px !important; }

.sp-ml-42 {
  margin-left: 42px !important; }

.sp-mt-43 {
  margin-top: 43px !important; }

.sp-mr-43 {
  margin-right: 43px !important; }

.sp-mb-43 {
  margin-bottom: 43px !important; }

.sp-ml-43 {
  margin-left: 43px !important; }

.sp-mt-44 {
  margin-top: 44px !important; }

.sp-mr-44 {
  margin-right: 44px !important; }

.sp-mb-44 {
  margin-bottom: 44px !important; }

.sp-ml-44 {
  margin-left: 44px !important; }

.sp-mt-45 {
  margin-top: 45px !important; }

.sp-mr-45 {
  margin-right: 45px !important; }

.sp-mb-45 {
  margin-bottom: 45px !important; }

.sp-ml-45 {
  margin-left: 45px !important; }

.sp-mt-46 {
  margin-top: 46px !important; }

.sp-mr-46 {
  margin-right: 46px !important; }

.sp-mb-46 {
  margin-bottom: 46px !important; }

.sp-ml-46 {
  margin-left: 46px !important; }

.sp-mt-47 {
  margin-top: 47px !important; }

.sp-mr-47 {
  margin-right: 47px !important; }

.sp-mb-47 {
  margin-bottom: 47px !important; }

.sp-ml-47 {
  margin-left: 47px !important; }

.sp-mt-48 {
  margin-top: 48px !important; }

.sp-mr-48 {
  margin-right: 48px !important; }

.sp-mb-48 {
  margin-bottom: 48px !important; }

.sp-ml-48 {
  margin-left: 48px !important; }

.sp-mt-49 {
  margin-top: 49px !important; }

.sp-mr-49 {
  margin-right: 49px !important; }

.sp-mb-49 {
  margin-bottom: 49px !important; }

.sp-ml-49 {
  margin-left: 49px !important; }

.sp-mt-50 {
  margin-top: 50px !important; }

.sp-mr-50 {
  margin-right: 50px !important; }

.sp-mb-50 {
  margin-bottom: 50px !important; }

.sp-ml-50 {
  margin-left: 50px !important; }

.sp-mt-51 {
  margin-top: 51px !important; }

.sp-mr-51 {
  margin-right: 51px !important; }

.sp-mb-51 {
  margin-bottom: 51px !important; }

.sp-ml-51 {
  margin-left: 51px !important; }

.sp-mt-52 {
  margin-top: 52px !important; }

.sp-mr-52 {
  margin-right: 52px !important; }

.sp-mb-52 {
  margin-bottom: 52px !important; }

.sp-ml-52 {
  margin-left: 52px !important; }

.sp-mt-53 {
  margin-top: 53px !important; }

.sp-mr-53 {
  margin-right: 53px !important; }

.sp-mb-53 {
  margin-bottom: 53px !important; }

.sp-ml-53 {
  margin-left: 53px !important; }

.sp-mt-54 {
  margin-top: 54px !important; }

.sp-mr-54 {
  margin-right: 54px !important; }

.sp-mb-54 {
  margin-bottom: 54px !important; }

.sp-ml-54 {
  margin-left: 54px !important; }

.sp-mt-55 {
  margin-top: 55px !important; }

.sp-mr-55 {
  margin-right: 55px !important; }

.sp-mb-55 {
  margin-bottom: 55px !important; }

.sp-ml-55 {
  margin-left: 55px !important; }

.sp-mt-56 {
  margin-top: 56px !important; }

.sp-mr-56 {
  margin-right: 56px !important; }

.sp-mb-56 {
  margin-bottom: 56px !important; }

.sp-ml-56 {
  margin-left: 56px !important; }

.sp-mt-57 {
  margin-top: 57px !important; }

.sp-mr-57 {
  margin-right: 57px !important; }

.sp-mb-57 {
  margin-bottom: 57px !important; }

.sp-ml-57 {
  margin-left: 57px !important; }

.sp-mt-58 {
  margin-top: 58px !important; }

.sp-mr-58 {
  margin-right: 58px !important; }

.sp-mb-58 {
  margin-bottom: 58px !important; }

.sp-ml-58 {
  margin-left: 58px !important; }

.sp-mt-59 {
  margin-top: 59px !important; }

.sp-mr-59 {
  margin-right: 59px !important; }

.sp-mb-59 {
  margin-bottom: 59px !important; }

.sp-ml-59 {
  margin-left: 59px !important; }

.sp-mt-60 {
  margin-top: 60px !important; }

.sp-mr-60 {
  margin-right: 60px !important; }

.sp-mb-60 {
  margin-bottom: 60px !important; }

.sp-ml-60 {
  margin-left: 60px !important; }

.sp-mt-61 {
  margin-top: 61px !important; }

.sp-mr-61 {
  margin-right: 61px !important; }

.sp-mb-61 {
  margin-bottom: 61px !important; }

.sp-ml-61 {
  margin-left: 61px !important; }

.sp-mt-62 {
  margin-top: 62px !important; }

.sp-mr-62 {
  margin-right: 62px !important; }

.sp-mb-62 {
  margin-bottom: 62px !important; }

.sp-ml-62 {
  margin-left: 62px !important; }

.sp-mt-63 {
  margin-top: 63px !important; }

.sp-mr-63 {
  margin-right: 63px !important; }

.sp-mb-63 {
  margin-bottom: 63px !important; }

.sp-ml-63 {
  margin-left: 63px !important; }

.sp-mt-64 {
  margin-top: 64px !important; }

.sp-mr-64 {
  margin-right: 64px !important; }

.sp-mb-64 {
  margin-bottom: 64px !important; }

.sp-ml-64 {
  margin-left: 64px !important; }

.sp-mt-65 {
  margin-top: 65px !important; }

.sp-mr-65 {
  margin-right: 65px !important; }

.sp-mb-65 {
  margin-bottom: 65px !important; }

.sp-ml-65 {
  margin-left: 65px !important; }

.sp-mt-66 {
  margin-top: 66px !important; }

.sp-mr-66 {
  margin-right: 66px !important; }

.sp-mb-66 {
  margin-bottom: 66px !important; }

.sp-ml-66 {
  margin-left: 66px !important; }

.sp-mt-67 {
  margin-top: 67px !important; }

.sp-mr-67 {
  margin-right: 67px !important; }

.sp-mb-67 {
  margin-bottom: 67px !important; }

.sp-ml-67 {
  margin-left: 67px !important; }

.sp-mt-68 {
  margin-top: 68px !important; }

.sp-mr-68 {
  margin-right: 68px !important; }

.sp-mb-68 {
  margin-bottom: 68px !important; }

.sp-ml-68 {
  margin-left: 68px !important; }

.sp-mt-69 {
  margin-top: 69px !important; }

.sp-mr-69 {
  margin-right: 69px !important; }

.sp-mb-69 {
  margin-bottom: 69px !important; }

.sp-ml-69 {
  margin-left: 69px !important; }

.sp-mt-70 {
  margin-top: 70px !important; }

.sp-mr-70 {
  margin-right: 70px !important; }

.sp-mb-70 {
  margin-bottom: 70px !important; }

.sp-ml-70 {
  margin-left: 70px !important; }

.sp-mt-71 {
  margin-top: 71px !important; }

.sp-mr-71 {
  margin-right: 71px !important; }

.sp-mb-71 {
  margin-bottom: 71px !important; }

.sp-ml-71 {
  margin-left: 71px !important; }

.sp-mt-72 {
  margin-top: 72px !important; }

.sp-mr-72 {
  margin-right: 72px !important; }

.sp-mb-72 {
  margin-bottom: 72px !important; }

.sp-ml-72 {
  margin-left: 72px !important; }

.sp-mt-73 {
  margin-top: 73px !important; }

.sp-mr-73 {
  margin-right: 73px !important; }

.sp-mb-73 {
  margin-bottom: 73px !important; }

.sp-ml-73 {
  margin-left: 73px !important; }

.sp-mt-74 {
  margin-top: 74px !important; }

.sp-mr-74 {
  margin-right: 74px !important; }

.sp-mb-74 {
  margin-bottom: 74px !important; }

.sp-ml-74 {
  margin-left: 74px !important; }

.sp-mt-75 {
  margin-top: 75px !important; }

.sp-mr-75 {
  margin-right: 75px !important; }

.sp-mb-75 {
  margin-bottom: 75px !important; }

.sp-ml-75 {
  margin-left: 75px !important; }

.sp-mt-76 {
  margin-top: 76px !important; }

.sp-mr-76 {
  margin-right: 76px !important; }

.sp-mb-76 {
  margin-bottom: 76px !important; }

.sp-ml-76 {
  margin-left: 76px !important; }

.sp-mt-77 {
  margin-top: 77px !important; }

.sp-mr-77 {
  margin-right: 77px !important; }

.sp-mb-77 {
  margin-bottom: 77px !important; }

.sp-ml-77 {
  margin-left: 77px !important; }

.sp-mt-78 {
  margin-top: 78px !important; }

.sp-mr-78 {
  margin-right: 78px !important; }

.sp-mb-78 {
  margin-bottom: 78px !important; }

.sp-ml-78 {
  margin-left: 78px !important; }

.sp-mt-79 {
  margin-top: 79px !important; }

.sp-mr-79 {
  margin-right: 79px !important; }

.sp-mb-79 {
  margin-bottom: 79px !important; }

.sp-ml-79 {
  margin-left: 79px !important; }

.sp-mt-80 {
  margin-top: 80px !important; }

.sp-mr-80 {
  margin-right: 80px !important; }

.sp-mb-80 {
  margin-bottom: 80px !important; }

.sp-ml-80 {
  margin-left: 80px !important; }

/* padding */
.sp-mt-1 {
  padding-top: 1px !important; }

.sp-mr-1 {
  padding-right: 1px !important; }

.sp-pb-1 {
  padding-bottom: 1px !important; }

.sp-pl-1 {
  padding-left: 1px !important; }

.sp-pt-2 {
  padding-top: 2px !important; }

.sp-pr-2 {
  padding-right: 2px !important; }

.sp-pb-2 {
  padding-bottom: 2px !important; }

.sp-pl-2 {
  padding-left: 2px !important; }

.sp-pt-3 {
  padding-top: 3px !important; }

.sp-pr-3 {
  padding-right: 3px !important; }

.sp-pb-3 {
  padding-bottom: 3px !important; }

.sp-pl-3 {
  padding-left: 3px !important; }

.sp-pt-4 {
  padding-top: 4px !important; }

.sp-pr-4 {
  padding-right: 4px !important; }

.sp-pb-4 {
  padding-bottom: 4px !important; }

.sp-pl-4 {
  padding-left: 4px !important; }

.sp-pt-5 {
  padding-top: 5px !important; }

.sp-pr-5 {
  padding-right: 5px !important; }

.sp-pb-5 {
  padding-bottom: 5px !important; }

.sp-pl-5 {
  padding-left: 5px !important; }

.sp-pt-6 {
  padding-top: 6px !important; }

.sp-pr-6 {
  padding-right: 6px !important; }

.sp-pb-6 {
  padding-bottom: 6px !important; }

.sp-pl-6 {
  padding-left: 6px !important; }

.sp-pt-7 {
  padding-top: 7px !important; }

.sp-pr-7 {
  padding-right: 7px !important; }

.sp-pb-7 {
  padding-bottom: 7px !important; }

.sp-pl-7 {
  padding-left: 7px !important; }

.sp-pt-8 {
  padding-top: 8px !important; }

.sp-pr-8 {
  padding-right: 8px !important; }

.sp-pb-8 {
  padding-bottom: 8px !important; }

.sp-pl-8 {
  padding-left: 8px !important; }

.sp-pt-9 {
  padding-top: 9px !important; }

.sp-pr-9 {
  padding-right: 9px !important; }

.sp-pb-9 {
  padding-bottom: 9px !important; }

.sp-pl-9 {
  padding-left: 9px !important; }

.sp-pt-10 {
  padding-top: 10px !important; }

.sp-pr-10 {
  padding-right: 10px !important; }

.sp-pb-10 {
  padding-bottom: 10px !important; }

.sp-pl-10 {
  padding-left: 10px !important; }

.sp-pt-11 {
  padding-top: 11px !important; }

.sp-pr-11 {
  padding-right: 11px !important; }

.sp-pb-11 {
  padding-bottom: 11px !important; }

.sp-pl-11 {
  padding-left: 11px !important; }

.sp-pt-12 {
  padding-top: 12px !important; }

.sp-pr-12 {
  padding-right: 12px !important; }

.sp-pb-12 {
  padding-bottom: 12px !important; }

.sp-pl-12 {
  padding-left: 12px !important; }

.sp-pt-13 {
  padding-top: 13px !important; }

.sp-pr-13 {
  padding-right: 13px !important; }

.sp-pb-13 {
  padding-bottom: 13px !important; }

.sp-pl-13 {
  padding-left: 13px !important; }

.sp-pt-14 {
  padding-top: 14px !important; }

.sp-pr-14 {
  padding-right: 14px !important; }

.sp-pb-14 {
  padding-bottom: 14px !important; }

.sp-pl-14 {
  padding-left: 14px !important; }

.sp-pt-15 {
  padding-top: 15px !important; }

.sp-pr-15 {
  padding-right: 15px !important; }

.sp-pb-15 {
  padding-bottom: 15px !important; }

.sp-pl-15 {
  padding-left: 15px !important; }

.sp-pt-16 {
  padding-top: 16px !important; }

.sp-pr-16 {
  padding-right: 16px !important; }

.sp-pb-16 {
  padding-bottom: 16px !important; }

.sp-pl-16 {
  padding-left: 16px !important; }

.sp-pt-17 {
  padding-top: 17px !important; }

.sp-pr-17 {
  padding-right: 17px !important; }

.sp-pb-17 {
  padding-bottom: 17px !important; }

.sp-pl-17 {
  padding-left: 17px !important; }

.sp-pt-18 {
  padding-top: 18px !important; }

.sp-pr-18 {
  padding-right: 18px !important; }

.sp-pb-18 {
  padding-bottom: 18px !important; }

.sp-pl-18 {
  padding-left: 18px !important; }

.sp-pt-19 {
  padding-top: 19px !important; }

.sp-pr-19 {
  padding-right: 19px !important; }

.sp-pb-19 {
  padding-bottom: 19px !important; }

.sp-pl-19 {
  padding-left: 19px !important; }

.sp-pt-20 {
  padding-top: 20px !important; }

.sp-pr-20 {
  padding-right: 20px !important; }

.sp-pb-20 {
  padding-bottom: 20px !important; }

.sp-pl-20 {
  padding-left: 20px !important; }

.sp-pt-21 {
  padding-top: 21px !important; }

.sp-pr-21 {
  padding-right: 21px !important; }

.sp-pb-21 {
  padding-bottom: 21px !important; }

.sp-pl-21 {
  padding-left: 21px !important; }

.sp-pt-22 {
  padding-top: 22px !important; }

.sp-pr-22 {
  padding-right: 22px !important; }

.sp-pb-22 {
  padding-bottom: 22px !important; }

.sp-pl-22 {
  padding-left: 22px !important; }

.sp-pt-23 {
  padding-top: 23px !important; }

.sp-pr-23 {
  padding-right: 23px !important; }

.sp-pb-23 {
  padding-bottom: 23px !important; }

.sp-pl-23 {
  padding-left: 23px !important; }

.sp-pt-24 {
  padding-top: 24px !important; }

.sp-pr-24 {
  padding-right: 24px !important; }

.sp-pb-24 {
  padding-bottom: 24px !important; }

.sp-pl-24 {
  padding-left: 24px !important; }

.sp-pt-25 {
  padding-top: 25px !important; }

.sp-pr-25 {
  padding-right: 25px !important; }

.sp-pb-25 {
  padding-bottom: 25px !important; }

.sp-pl-25 {
  padding-left: 25px !important; }

.sp-pt-26 {
  padding-top: 26px !important; }

.sp-pr-26 {
  padding-right: 26px !important; }

.sp-pb-26 {
  padding-bottom: 26px !important; }

.sp-pl-26 {
  padding-left: 26px !important; }

.sp-pt-27 {
  padding-top: 27px !important; }

.sp-pr-27 {
  padding-right: 27px !important; }

.sp-pb-27 {
  padding-bottom: 27px !important; }

.sp-pl-27 {
  padding-left: 27px !important; }

.sp-pt-28 {
  padding-top: 28px !important; }

.sp-pr-28 {
  padding-right: 28px !important; }

.sp-pb-28 {
  padding-bottom: 28px !important; }

.sp-pl-28 {
  padding-left: 28px !important; }

.sp-pt-29 {
  padding-top: 29px !important; }

.sp-pr-29 {
  padding-right: 29px !important; }

.sp-pb-29 {
  padding-bottom: 29px !important; }

.sp-pl-29 {
  padding-left: 29px !important; }

.sp-pt-30 {
  padding-top: 30px !important; }

.sp-pr-30 {
  padding-right: 30px !important; }

.sp-pb-30 {
  padding-bottom: 30px !important; }

.sp-pl-30 {
  padding-left: 30px !important; }

.sp-pt-31 {
  padding-top: 31px !important; }

.sp-pr-31 {
  padding-right: 31px !important; }

.sp-pb-31 {
  padding-bottom: 31px !important; }

.sp-pl-31 {
  padding-left: 31px !important; }

.sp-pt-32 {
  padding-top: 32px !important; }

.sp-pr-32 {
  padding-right: 32px !important; }

.sp-pb-32 {
  padding-bottom: 32px !important; }

.sp-pl-32 {
  padding-left: 32px !important; }

.sp-pt-33 {
  padding-top: 33px !important; }

.sp-pr-33 {
  padding-right: 33px !important; }

.sp-pb-33 {
  padding-bottom: 33px !important; }

.sp-pl-33 {
  padding-left: 33px !important; }

.sp-pt-34 {
  padding-top: 34px !important; }

.sp-pr-34 {
  padding-right: 34px !important; }

.sp-pb-34 {
  padding-bottom: 34px !important; }

.sp-pl-34 {
  padding-left: 34px !important; }

.sp-pt-35 {
  padding-top: 35px !important; }

.sp-pr-35 {
  padding-right: 35px !important; }

.sp-pb-35 {
  padding-bottom: 35px !important; }

.sp-pl-35 {
  padding-left: 35px !important; }

.sp-pt-36 {
  padding-top: 36px !important; }

.sp-pr-36 {
  padding-right: 36px !important; }

.sp-pb-36 {
  padding-bottom: 36px !important; }

.sp-pl-36 {
  padding-left: 36px !important; }

.sp-pt-37 {
  padding-top: 37px !important; }

.sp-pr-37 {
  padding-right: 37px !important; }

.sp-pb-37 {
  padding-bottom: 37px !important; }

.sp-pl-37 {
  padding-left: 37px !important; }

.sp-pt-38 {
  padding-top: 38px !important; }

.sp-pr-38 {
  padding-right: 38px !important; }

.sp-pb-38 {
  padding-bottom: 38px !important; }

.sp-pl-38 {
  padding-left: 38px !important; }

.sp-pt-39 {
  padding-top: 39px !important; }

.sp-pr-39 {
  padding-right: 39px !important; }

.sp-pb-39 {
  padding-bottom: 39px !important; }

.sp-pl-39 {
  padding-left: 39px !important; }

.sp-pt-40 {
  padding-top: 40px !important; }

.sp-pr-40 {
  padding-right: 40px !important; }

.sp-pb-40 {
  padding-bottom: 40px !important; }

.sp-pl-40 {
  padding-left: 40px !important; }

.sp-pt-41 {
  padding-top: 41px !important; }

.sp-pr-41 {
  padding-right: 41px !important; }

.sp-pb-41 {
  padding-bottom: 41px !important; }

.sp-pl-41 {
  padding-left: 41px !important; }

.sp-pt-42 {
  padding-top: 42px !important; }

.sp-pr-42 {
  padding-right: 42px !important; }

.sp-pb-42 {
  padding-bottom: 42px !important; }

.sp-pl-42 {
  padding-left: 42px !important; }

.sp-pt-43 {
  padding-top: 43px !important; }

.sp-pr-43 {
  padding-right: 43px !important; }

.sp-pb-43 {
  padding-bottom: 43px !important; }

.sp-pl-43 {
  padding-left: 43px !important; }

.sp-pt-44 {
  padding-top: 44px !important; }

.sp-pr-44 {
  padding-right: 44px !important; }

.sp-pb-44 {
  padding-bottom: 44px !important; }

.sp-pl-44 {
  padding-left: 44px !important; }

.sp-pt-45 {
  padding-top: 45px !important; }

.sp-pr-45 {
  padding-right: 45px !important; }

.sp-pb-45 {
  padding-bottom: 45px !important; }

.sp-pl-45 {
  padding-left: 45px !important; }

.sp-pt-46 {
  padding-top: 46px !important; }

.sp-pr-46 {
  padding-right: 46px !important; }

.sp-pb-46 {
  padding-bottom: 46px !important; }

.sp-pl-46 {
  padding-left: 46px !important; }

.sp-pt-47 {
  padding-top: 47px !important; }

.sp-pr-47 {
  padding-right: 47px !important; }

.sp-pb-47 {
  padding-bottom: 47px !important; }

.sp-pl-47 {
  padding-left: 47px !important; }

.sp-pt-48 {
  padding-top: 48px !important; }

.sp-pr-48 {
  padding-right: 48px !important; }

.sp-pb-48 {
  padding-bottom: 48px !important; }

.sp-pl-48 {
  padding-left: 48px !important; }

.sp-pt-49 {
  padding-top: 49px !important; }

.sp-pr-49 {
  padding-right: 49px !important; }

.sp-pb-49 {
  padding-bottom: 49px !important; }

.sp-pl-49 {
  padding-left: 49px !important; }

.sp-pt-50 {
  padding-top: 50px !important; }

.sp-pr-50 {
  padding-right: 50px !important; }

.sp-pb-50 {
  padding-bottom: 50px !important; }

.sp-pl-50 {
  padding-left: 50px !important; }

.sp-pt-51 {
  padding-top: 51px !important; }

.sp-pr-51 {
  padding-right: 51px !important; }

.sp-pb-51 {
  padding-bottom: 51px !important; }

.sp-pl-51 {
  padding-left: 51px !important; }

.sp-pt-52 {
  padding-top: 52px !important; }

.sp-pr-52 {
  padding-right: 52px !important; }

.sp-pb-52 {
  padding-bottom: 52px !important; }

.sp-pl-52 {
  padding-left: 52px !important; }

.sp-pt-53 {
  padding-top: 53px !important; }

.sp-pr-53 {
  padding-right: 53px !important; }

.sp-pb-53 {
  padding-bottom: 53px !important; }

.sp-pl-53 {
  padding-left: 53px !important; }

.sp-pt-54 {
  padding-top: 54px !important; }

.sp-pr-54 {
  padding-right: 54px !important; }

.sp-pb-54 {
  padding-bottom: 54px !important; }

.sp-pl-54 {
  padding-left: 54px !important; }

.sp-pt-55 {
  padding-top: 55px !important; }

.sp-pr-55 {
  padding-right: 55px !important; }

.sp-pb-55 {
  padding-bottom: 55px !important; }

.sp-pl-55 {
  padding-left: 55px !important; }

.sp-pt-56 {
  padding-top: 56px !important; }

.sp-pr-56 {
  padding-right: 56px !important; }

.sp-pb-56 {
  padding-bottom: 56px !important; }

.sp-pl-56 {
  padding-left: 56px !important; }

.sp-pt-57 {
  padding-top: 57px !important; }

.sp-pr-57 {
  padding-right: 57px !important; }

.sp-pb-57 {
  padding-bottom: 57px !important; }

.sp-pl-57 {
  padding-left: 57px !important; }

.sp-pt-58 {
  padding-top: 58px !important; }

.sp-pr-58 {
  padding-right: 58px !important; }

.sp-pb-58 {
  padding-bottom: 58px !important; }

.sp-pl-58 {
  padding-left: 58px !important; }

.sp-pt-59 {
  padding-top: 59px !important; }

.sp-pr-59 {
  padding-right: 59px !important; }

.sp-pb-59 {
  padding-bottom: 59px !important; }

.sp-pl-59 {
  padding-left: 59px !important; }

.sp-pt-60 {
  padding-top: 60px !important; }

.sp-pr-60 {
  padding-right: 60px !important; }

.sp-pb-60 {
  padding-bottom: 60px !important; }

.sp-pl-60 {
  padding-left: 60px !important; }

.sp-pt-61 {
  padding-top: 61px !important; }

.sp-pr-61 {
  padding-right: 61px !important; }

.sp-pb-61 {
  padding-bottom: 61px !important; }

.sp-pl-61 {
  padding-left: 61px !important; }

.sp-pt-62 {
  padding-top: 62px !important; }

.sp-pr-62 {
  padding-right: 62px !important; }

.sp-pb-62 {
  padding-bottom: 62px !important; }

.sp-pl-62 {
  padding-left: 62px !important; }

.sp-pt-63 {
  padding-top: 63px !important; }

.sp-pr-63 {
  padding-right: 63px !important; }

.sp-pb-63 {
  padding-bottom: 63px !important; }

.sp-pl-63 {
  padding-left: 63px !important; }

.sp-pt-64 {
  padding-top: 64px !important; }

.sp-pr-64 {
  padding-right: 64px !important; }

.sp-pb-64 {
  padding-bottom: 64px !important; }

.sp-pl-64 {
  padding-left: 64px !important; }

.sp-pt-65 {
  padding-top: 65px !important; }

.sp-pr-65 {
  padding-right: 65px !important; }

.sp-pb-65 {
  padding-bottom: 65px !important; }

.sp-pl-65 {
  padding-left: 65px !important; }

.sp-pt-66 {
  padding-top: 66px !important; }

.sp-pr-66 {
  padding-right: 66px !important; }

.sp-pb-66 {
  padding-bottom: 66px !important; }

.sp-pl-66 {
  padding-left: 66px !important; }

.sp-pt-67 {
  padding-top: 67px !important; }

.sp-pr-67 {
  padding-right: 67px !important; }

.sp-pb-67 {
  padding-bottom: 67px !important; }

.sp-pl-67 {
  padding-left: 67px !important; }

.sp-pt-68 {
  padding-top: 68px !important; }

.sp-pr-68 {
  padding-right: 68px !important; }

.sp-pb-68 {
  padding-bottom: 68px !important; }

.sp-pl-68 {
  padding-left: 68px !important; }

.sp-pt-69 {
  padding-top: 69px !important; }

.sp-pr-69 {
  padding-right: 69px !important; }

.sp-pb-69 {
  padding-bottom: 69px !important; }

.sp-pl-69 {
  padding-left: 69px !important; }

.sp-pt-70 {
  padding-top: 70px !important; }

.sp-pr-70 {
  padding-right: 70px !important; }

.sp-pb-70 {
  padding-bottom: 70px !important; }

.sp-pl-70 {
  padding-left: 70px !important; }

.sp-pt-71 {
  padding-top: 71px !important; }

.sp-pr-71 {
  padding-right: 71px !important; }

.sp-pb-71 {
  padding-bottom: 71px !important; }

.sp-pl-71 {
  padding-left: 71px !important; }

.sp-pt-72 {
  padding-top: 72px !important; }

.sp-pr-72 {
  padding-right: 72px !important; }

.sp-pb-72 {
  padding-bottom: 72px !important; }

.sp-pl-72 {
  padding-left: 72px !important; }

.sp-pt-73 {
  padding-top: 73px !important; }

.sp-pr-73 {
  padding-right: 73px !important; }

.sp-pb-73 {
  padding-bottom: 73px !important; }

.sp-pl-73 {
  padding-left: 73px !important; }

.sp-pt-74 {
  padding-top: 74px !important; }

.sp-pr-74 {
  padding-right: 74px !important; }

.sp-pb-74 {
  padding-bottom: 74px !important; }

.sp-pl-74 {
  padding-left: 74px !important; }

.sp-pt-75 {
  padding-top: 75px !important; }

.sp-pr-75 {
  padding-right: 75px !important; }

.sp-pb-75 {
  padding-bottom: 75px !important; }

.sp-pl-75 {
  padding-left: 75px !important; }

.sp-pt-76 {
  padding-top: 76px !important; }

.sp-pr-76 {
  padding-right: 76px !important; }

.sp-pb-76 {
  padding-bottom: 76px !important; }

.sp-pl-76 {
  padding-left: 76px !important; }

.sp-pt-77 {
  padding-top: 77px !important; }

.sp-pr-77 {
  padding-right: 77px !important; }

.sp-pb-77 {
  padding-bottom: 77px !important; }

.sp-pl-77 {
  padding-left: 77px !important; }

.sp-pt-78 {
  padding-top: 78px !important; }

.sp-pr-78 {
  padding-right: 78px !important; }

.sp-pb-78 {
  padding-bottom: 78px !important; }

.sp-pl-78 {
  padding-left: 78px !important; }

.sp-pt-79 {
  padding-top: 79px !important; }

.sp-pr-79 {
  padding-right: 79px !important; }

.sp-pb-79 {
  padding-bottom: 79px !important; }

.sp-pl-79 {
  padding-left: 79px !important; }

.sp-pt-80 {
  padding-top: 80px !important; }

.sp-pr-80 {
  padding-right: 80px !important; }

.sp-pb-80 {
  padding-bottom: 80px !important; }

.sp-pl-80 {
  padding-left: 80px !important; }
